{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Recipes{% endblock %}</h1>
<table class="table table-sm table-dark">
    <thead>
    <tr>
        <th>Username</th>
        <th>Post Topic</th>
        <th>Random Data</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <section>
        <h1>{{ user['user'] }}</h1>
        <div class="details">
            <div class="container">
                <tr>
                    <td class="table-primary">{{user['id']}}</td>
                    <td>{{user['username']}}</td>
                    <td>{{ user['password']}}</td>
                </tr>
            </div>
        </div>
    </section>

    {% if not loop.last %}
    {% endif %}
    {% endfor %}
    <div class="row">
        <a href="/users/add"  class="btn btn-primary">
            Add Post
        </a>
    </div>
    </tbody>
</table>

{% endblock %}
