{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Recipes{% endblock %}</h1>
<table class="table table-sm table-dark">
    <thead>
    <tr>
        <th>Username</th>
        <th>Post Topic</th>
        <th>Content</th>
        <th>Post created on</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <section>
        <div class="details">
            <div class="container">
                <tr>
                    <td class="table-primary">{{post['username']}}</td>
                    <td>{{post['title']}}</td>
                    <td>{{post['body']}}</td>
                    <td>{{post['created']}}</td>
                    <td>
                        <!--<form action="" method="POST">-->
                            <!--<input type="submit" value="DELETE"/>-->
                        <!--</form>-->
                        <!--<form action="" method="GET">-->
                            <!--<input type="submit" value="EDIT">-->
                        <!--</form>-->
                    </td>
                </tr>
            </div>
        </div>
    </section>
    {% endfor %}
    <div class="row">
        {% if session.get('admin') or session.get('moderator') or session.get('user') %}
        <a href="/post/add" class="btn btn-primary" data-toggle="modal">
            Add post
        </a>
        {% endif %}
    </div>
    </tbody>
</table>

{% endblock %}
