{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Recipes{% endblock %}</h1>
<table class="table table-sm table-dark">
    <thead>
    <tr>
        <th>Username</th>
        <th>Post Topic</th>
        <th>Content/th>
    </tr>
    </thead>
    <tbody>
    {% for post in post %}
    <section>
        <h1>{{ post['post'] }}</h1>
        <div class="details">
            <div class="container">
                <tr>
                    <td class="table-primary">{{post['username']}}</td>
                    <td>{{post['title']}}</td>
                    <td>{{post['body']}}</td>
                </tr>
            </div>
        </div>
    </section>

    {% if not loop.last %}
    {% endif %}
    {% endfor %}
    <div class="row">
        {% if session.get('user')['role'] != 'admin' or 'moderator' or 'user' %}
        <a href="/post/add" class="btn btn-primary" data-toggle="modal">
            Add post
        </a>
        {% endif %}
    </div>
    </tbody>
</table>

{% endblock %}
