{% extends 'base.html' %}


{% block title %}CookingNow{% endblock %}
{% block header %}
<div class="jumbotron text-center">
    <h1>My Blog/Forum</h1>
    <p>CookingNow</p>
</div>
{% endblock %}
{% block content %}
<div class="well well-lg text-center">This site is mainly about cooking and cooking recipes. We would be glad to share
    our experience with you ,and to receive feedback. Let's share some RECIPES !<br/>
    First you will have to register and be sure that you are ready for our mind-blowing content. Some random text just
    to fill the homepage:<br/>
    Jinja2 is a modern and designer-friendly templating language for Python, modelled after Django’s templates.
</div>
<img src="/static/1.jpg" style="height:600px;width:1144px;">
<div>
    <br/>
</div>
{% endblock %}
