{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Users{% endblock %}</h1>
<table class="table table-sm table-dark">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>E-mail</th>
        <th>ROLE</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <section>
        <h1>{{ user['user'] }}</h1>
        <div class="details">
            <div class="container">
                <tr>
                    <td class="table-primary">{{user['id']}}</td>
                    <td>{{user['username']}}</td>
                    <td>{{user['password']}}</td>
                    <td>{{user['email']}}</td>
                    <td>{{user['role']}}</td>

                    <td>
                        <form action="{{ url_for('delete_user', id=user['id']) }}" method="POST">
                            <input type="submit" value="DELETE"/>
                        </form>
                        <form action="{{ url_for('edit_user', id=user['id']) }}" method="GET">
                            <input type="submit" value="EDIT">
                        </form>
                    </td>
                </tr>
            </div>
        </div>
    </section>

    {% if not loop.last %}
    {% endif %}
    {% endfor %}
    <div class="row">
        <a href="/users/add"  class="btn btn-primary">
            <span class="glyphicons glyphicons-notes-2"></span> Register
        </a>
    </div>
    </tbody>
</table>

{% endblock %}

