{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Registration{% endblock %}</h1>
<section class="user col-sm-6">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <form action="/register" method="POST">
        <div class="row">
            <input class="form-control" type="text" name="username" placeholder="Username" autocomplete="off"/>
            <input class="form-control" type="password" name="password" placeholder="Password"/>
            <input class="form-control" type="text" name="email" placeholder="Enter e-mail" autocomplete="off"/>

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Register
            </button>
        </div>
    </form>
</section>

{% endblock %}
